$rem-baseline: 16;

$home-bgcolor: #ffc0cb;
$header-bgcolor: #f9f1e7;
$section-bgcolor: #fcf8f3;
$cards-bgcolor: #ffffff;
$products-cards-bgcolor: #f4f5f7;
$buttons-bgcolor: #e89f71;
$titles-color: #3a3a3a;
$descriptions-color: #616161;

$font-bold: "Gilroy-Bold";
$font-semibold: "Gilroy-Semibold";
$font-medium: "Gilroy-Medium";
$font-regular: "Gilroy-Regular";
$font-light: "Gilroy-Light";

$max-width: 1240px;

// :root {
// 	--home-color: #ffc0cb;
// }
