.home {
	background-color: $home-bgcolor;

	height: 140px;

	// NOTES: set CSS variables on assets/scss/globals/_variables.scss
	// background-color: var(--home-color);

	@include mq(tablet, min) {
		background-color: #f9f1e7;
	}
}
